/.idea/
*.pyc
.DS_Store
*.swp
/venv/
/static/
/media/
/.vagrant/
ansible/.vagrant/
/Vagrantfile.local
/docs/_build/
node_modules
ansible/ndi_anambra_keystore/*
ansible/group_vars/*
ansible/host_vars/*
.env
env.example
env.production
pages/static/libs
pages/copy_templates/
problems/encountered/
