{% load wagtailcore_tags wagtailimages_tags %}

<div class="row event-widget">
    <h5>{{heading}}</h5>
  <div class="columns small-centered">
    <article class="event">

        <div class="event-date">
          <p class="event-month">May</p>
          <p class="event-day">13</p>
        </div>

        <div class="event-desc">
          <p class="event-desc-header">Monthly Meeting: John Skinner Center</p>
          <a href="#" class="rsvp button">RSVP &amp; Details</a>
        </div>

      </article>

      <hr>

      <article class="event">

        <div class="event-date">
          <p class="event-month">June</p>
          <p class="event-day">10</p>
        </div>

        <div class="event-desc">
          <p class="event-desc-header">Monthly Meeting: John Skinner Center</p>
          <a href="#" class="rsvp button">RSVP &amp; Details</a>
        </div>

      </article>
  </div>
</div>
