{% load static pages_tags wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

<div class="row event-widget">
    <h5>Events</h5>
  <div class="columns small-centered">
      {%  for event in events|slice:":3" %}
        <article class="event">

            <div class="event-date">
              <p class="event-month">{{ event.date_from|date:"M" }}</p>
              <p class="event-day">{{ event.date_from|date:"d" }}</p>
            </div>

            <div class="event-desc">
              <p class="event-desc-header">{{ event.title }}</p>
              <a href="{{ event.url }}" class="rsvp button">RSVP &amp; Details</a>
            </div>
        </article>
          {% if not forloop.last %}
          <hr>
          {% endif %}
          {% empty %}
          <h4>No Events Coming up.</h4>
      {%  endfor %}
  </div>
</div>
