{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load ndi_anambra_utils %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
	{% comment %}
    <div id="intro">
        <div class="row text-center">
            <div class="medium-10 medium-centered columns">
                <h3>{{ self.title_text|richtext }}</h3>
                {{ self.body|richtext }}
                <div id="carousel">
                    {% include "pages/includes/bx_carousel.html" with carousel_items=self.carousel_items.all only  %}
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}

	<!-- HERO SECTION -->
	<section class="hero" id="particles-js">
		<div class="row text-center">
			<div class="large-5 columns light-background">
				<h3 class="hide-for-large-up">{{ self.title_text|richtext }}</h3>
			</div>
			<div class="large-5 columns light-background">
				{{ self.body|richtext }}
			</div>
		</div>
	</section>
    <section>
        <div class="row below-hero">
            <div class="medium-8 columns">
                <div id="carousel">
                    {% include "pages/includes/bx_carousel.html" with carousel_items=self.carousel_items.all only  %}
                </div>
            </div>
            <div class="medium-4 columns">
                <p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image" alt="advertisement for deep fried Twinkies"></p>
                <p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image"></p>
            </div>
        </div>
    </section>
	<div id="section">
	    <div id="icons" class="row text-center">
	        <h4>Featuring</h4>
	        <br>
    	    <div class="medium-up-3 small-up-1" data>
    	        {% for block in self.content_items.all %}
    	        <div class="column icon grow">
    	            <a href="{{ block.link }}" target="_blank">
    	                <div class="card">
    	                 {% if block.image %}
    	                    {% image block.image fill-70x70 %}
    	                 {% endif %}
    	                 <h5><strong>{{ block.title}}</strong></h5>
    	                 <div class="info" style="padding: 5px;">
    	                 	{{ block.content|richtext }}
    	                 </div>
    	                </div>
    	            </a>
    	        </div>
    	       {% endfor %}
    	    </div>
	    </div>
	</div>

{% endblock %}